@use "./utils.scss" as *;

nav {
  display: none;
  @include breakpoint(large) {
    display: flex;
    justify-content: center;
    position: relative;
    top: 23rem;
  }
  ul {
    padding: 0;
    @include breakpoint(large) {
      display: flex;
      font-family: poppins;
      text-transform: uppercase;
    }

    li {
      font-size: 1.6rem;
      font-weight: bold;
      @include breakpoint(large) {
        margin-right: 5rem;
      }

      a {
        padding: 1rem;
        color: $color-text;
      }
    }
  }
}

.navbar__visible {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  text-transform: uppercase;
  background-color: $color-background;
  z-index: 998;

  ul {
    font-family: poppins;
    li {
      margin-bottom: 3rem;
    }
  }
}
