@use './utils.scss' as *;


.ongoingMoviesSection {
    &__header {
        text-align: center;
        @include font-poppins-semibold;
        color: $color-text; 
    }
}

.ongoingMovies {
    display: flex;
    flex-wrap: wrap;

    height: auto;
    overflow: hidden;

    padding: 0 2.5rem 0 2.5rem;

    &__card {
        width: calc(50% - 2rem);
        height: 90%;
        padding: 1rem;
        flex: 0 0 calc(50% - 2rem);
        margin-bottom: 2rem;
        // margin: auto;
        
        &__image {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        &__label {
            display: flex;
            justify-content: center;
            margin: 0;
            font-size: 1.1rem;
            @include font-poppins;
            color: $color-text;
        }

        @include breakpoint(large) {
            width: calc((100% / 6) - 2rem);
            flex: 0 0 calc((100% / 6) - 2rem);
        }
    }

    &__filterDiv {
        width: 100%;
        display: flex;
        justify-content: center;

        &__selectDiv {
            @include breakpoint(large) {
                display: none;
            };
        }

        &__selectDiv {
            position: relative;
            width: 93.5%;
            border: 2px solid $color-text;

            &::after {
                content: '\f078';
                font: normal normal normal 17px/1 FontAwesome;
                color: $color-text;
                right: 12px;
                height: 34px;
                padding: 15px 0px 0px 8px;
                position: absolute;
                pointer-events: none;
            }

            &__select {
                width: 93.5%;
                height: 3rem;
                background-color: transparent;
                @include font-poppins-semibold;
                color: $color-text;
                font-size: 1.5rem;
                padding-left: 0.2rem;
                outline: none;
                border: none;

                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
    
                &:hover {
                    cursor: pointer;
                }
    
                &__option {
                    background-color: $color-background;
                }
            }
        }

        &__searchfield {
            @include font-poppins;
            outline: none;
            border: 2px solid $color-text;
            background-color: transparent;
            height: 2.5rem;
            color: $color-text;
            padding-left: 0.5rem;
            margin-left: 1rem;

            &:active {
                outline: none;
                color: white;
            }

            &::placeholder {
                color: #bdbecb;
            }

            &:active {
                transform: scale(0.95);
            }
        }

        &__genreChipDiv {
            display: none;
            width: 65%;
            &__chip {
                @include font-poppins;
                border: 2px solid $color-text;
                background-color: transparent;
                color: $color-text;
                height: 2.9rem;
                width: auto;
                font-size: 1.2rem;
                padding: 0.5rem;
                margin-left: 1rem;
                margin-bottom: 1rem;

                &:hover {
                    background-color: $color-text;
                    color: $color-background;
                    cursor: pointer;
                }
            }

            &__searchfield {
                @include font-poppins;
                font-size: 1.2rem;
                outline: none;
                border: 2px solid $color-text;
                background-color: transparent;
                height: 2.5rem;
                color: $color-text;
                padding-left: 0.5rem;
                margin-left: 1rem;
                margin-bottom: 1rem;
    
                &:active {
                    outline: none;
                    color: white;
                }
    
                &::placeholder {
                    color: $color-text;
                }
    
                &:active {
                    transform: scale(0.95);
                }
            }
        }

        &__genreChipDiv {
            @include breakpoint(large) {
                display: block;
            }
        }
    }
}