/* Variables */
/* Mixins */
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #8ACFE5;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  max-width: 1280px;
}
@media screen and (min-width: 1000px) {
  .container {
    margin: auto;
  }
}

header {
  background-color: #011827;
  color: #fff;
  padding: 1.5em 1.5em 2.2em 1.5em;
}
header img {
  float: left;
  padding-right: 1.5rem;
  width: 9em;
}
@media screen and (min-width: 1000px) {
  header img {
    float: none;
  }
}
header h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  width: 18rem;
}
@media screen and (min-width: 1000px) {
  header h1 {
    display: inline-block;
    font-size: 2.5rem;
    line-height: normal;
    transform: translateY(-0.7rem);
    width: auto;
  }
}
header nav {
  display: none;
}
@media screen and (min-width: 1000px) {
  header nav {
    display: flex;
    justify-content: space-evenly;
    padding: 3.5rem 0 1.5rem 0;
  }
  header nav ul {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  header nav ul li {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 6rem;
  }
  header nav ul li:last-child {
    margin-right: 0;
  }
  header nav ul li:last-child a {
    color: #8ACFE5;
  }
  header nav ul a {
    color: #fff;
    text-decoration: none;
  }
  header nav ul a:visited {
    color: #fff;
  }
}
@media screen and (min-width: 1000px) {
  header {
    padding: 1.5em 1.5em 0 1.5em;
  }
}

.main__first_img {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .main__first_img {
    height: 30rem;
    object-fit: cover;
  }
}

.main__lightblue_button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  border: none;
  border-radius: 4px;
  padding: 1em 2.2em;
  background-color: #8ACFE5;
  color: #011827;
  display: block;
  font-size: 1.5rem;
  margin: 2rem auto;
}
@media screen and (min-width: 1000px) {
  .main__lightblue_button {
    display: none;
  }
}

/* This is a <p>-element */
.main__challenge_link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  text-align: center;
}
.main__challenge_link a {
  color: #36769D;
}
@media screen and (min-width: 1000px) {
  .main__challenge_link {
    display: none;
  }
}

.main__first_button_wrap {
  display: none;
}
@media screen and (min-width: 1000px) {
  .main__first_button_wrap {
    align-items: center;
    display: flex;
    transform: translateY(-2.5rem);
  }
  .main__first_button_wrap .main__lightblue_button {
    display: inherit;
    margin: 0 auto 0 0.5rem;
  }
  .main__first_button_wrap .main__challenge_link {
    display: inherit;
    margin: 0 0.5rem 0 auto;
  }
  .main__first_button_wrap .main__challenge_link a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: none;
    border-radius: 4px;
    padding: 1em 2.2em;
    background-color: #E3170A;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
}

.main__first_section {
  display: flex;
  margin: 5rem 3rem 0 0;
}
.main__first_section .main__john_doe {
  display: inherit;
}
.main__first_section .main__john_doe img {
  height: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (min-width: 1000px) {
  .main__first_section .main__john_doe img {
    height: 5rem;
    width: 5rem;
  }
}
.main__first_section .main__john_doe p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  margin: 0;
}
.main__first_section .main__john_doe p small {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
}
@media screen and (min-width: 1000px) {
  .main__first_section .main__john_doe {
    margin: auto 0.5rem auto 5rem;
    width: 36rem;
  }
}
.main__first_section .main__john_doe_the_second {
  display: none;
}
@media screen and (min-width: 1000px) {
  .main__first_section .main__john_doe_the_second {
    display: inherit;
    margin: auto 1rem auto auto;
    width: 36rem;
  }
  .main__first_section .main__john_doe_the_second img {
    height: 5rem;
    margin-right: 1rem;
    width: 5rem;
  }
  .main__first_section .main__john_doe_the_second p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
    margin: 0;
  }
  .main__first_section .main__john_doe_the_second p small {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;
  }
}

.main__second_section h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin: 3em 0 0 0;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .main__second_section h2 {
    font-size: 2.25rem;
  }
}
.main__second_section nav {
  /* This makes the navbar scrollable 
   * and display: inline-block in the child element
   * makes the element horizontal
   */
  overflow: auto;
  white-space: nowrap;
}
.main__second_section nav .main_card {
  border-radius: 10px;
  box-shadow: 0 0 5px #B6BDB5;
  display: inline-block;
  margin: 3rem -1.4rem 1.2rem 3.2rem;
  width: 23rem;
}
.main__second_section nav .main_card .card__hacker_img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.main__second_section nav .main_card h2 {
  font-size: 1.75rem;
  margin: 1rem auto 0 1rem;
  text-align: start;
}
.main__second_section nav .main_card .card__review {
  margin: 0 1rem;
  width: 32%;
}
.main__second_section nav .main_card .card__review_participants {
  margin: 0;
  position: relative;
  top: -1.5em;
  left: 8em;
  width: fit-content;
}
.main__second_section nav .main_card .card__review_participants small {
  font-size: 0.875rem;
}
@media screen and (min-width: 1000px) {
  .main__second_section nav .main_card .card__review_participants {
    left: 14.5em;
  }
}
.main__second_section nav .main_card p {
  font-size: 1.125rem;
  margin: 1rem;
  padding: 0;
  white-space: normal;
}
.main__second_section nav .main_card button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  border: none;
  border-radius: 4px;
  padding: 1em 2.2em;
  background-color: #E3170A;
  color: #fff;
  display: block;
  margin: auto 1rem 1rem auto;
}
.main__second_section nav .main_card:last-child {
  margin-right: 3rem;
}
@media screen and (min-width: 1000px) {
  .main__second_section nav {
    padding-top: 2rem;
  }
}

.main__second_button_wrap {
  display: none;
}
@media screen and (min-width: 1000px) {
  .main__second_button_wrap {
    align-items: center;
    display: flex;
    margin-top: 2rem;
  }
  .main__second_button_wrap .main__lightblue_button {
    display: inherit;
    margin: 0 auto 0 0.5rem;
  }
  .main__second_button_wrap .main__challenge_link {
    display: inherit;
    margin: 0 0.5rem 0 auto;
  }
  .main__second_button_wrap .main__challenge_link a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: none;
    border-radius: 4px;
    padding: 1em 2.2em;
    background-color: #E3170A;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
}

article {
  background-color: #011827;
  margin-top: 4rem;
  padding: 1.5rem 1.5rem 5.5rem 1.5rem;
}
article p {
  color: #fff;
  font-size: 1.75rem;
  margin-top: 5rem;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  article p {
    margin: 6rem auto 0 auto;
    width: 38rem;
  }
}
article button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  border: none;
  border-radius: 4px;
  padding: 1em 2.2em;
  background-color: transparent;
  border: 2px solid #8ACFE5;
  color: #8ACFE5;
  display: block;
  font-size: 1.5rem;
  margin: 4rem auto 0 auto;
}
@media screen and (min-width: 1000px) {
  article button {
    margin: 2.5rem auto 3rem auto;
  }
}

section {
  margin-bottom: 2.5rem;
}
section img {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  section img {
    height: 26rem;
  }
}
section h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  margin: 2rem 1rem;
}
@media screen and (min-width: 1000px) {
  section h2 {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 1rem;
  }
}
section p {
  font-size: 1.5rem;
  margin: 2rem 1rem;
}
@media screen and (min-width: 1000px) {
  section p {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}
section button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  border: none;
  border-radius: 4px;
  padding: 1em 2.2em;
  background-color: #E3170A;
  color: #fff;
  font-size: 1.5rem;
  margin: 2rem 1rem;
}
@media screen and (min-width: 1000px) {
  section button {
    grid-column: 2;
    grid-row: 1;
    margin-top: 0;
  }
}
@media screen and (min-width: 1000px) {
  section .section__items {
    padding: 2rem 2.5rem 0 5rem;
  }
}
@media screen and (min-width: 1000px) {
  section .section__second_image {
    grid-column: 2;
    grid-row: 1;
  }
}
section .section__secondary_items {
  grid-column: 1;
  grid-row: 1;
}
@media screen and (min-width: 1000px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }
}

footer {
  background-color: #011827;
  color: #fff;
  margin: 4.5rem 0 0 0;
  padding: 3.5rem 1.5rem;
}
footer h4 {
  font-size: 1.125rem;
  margin: 2em 0 0.5em 0;
}
@media screen and (min-width: 1000px) {
  footer h4 {
    margin-top: 0;
  }
}
footer .footer__first_heading {
  margin-top: 0;
}
footer p {
  font-size: 1.125rem;
  margin: 0;
}
@media screen and (min-width: 470px) {
  footer p {
    width: 26rem;
  }
}
footer ul {
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 1000px) {
  footer ul {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  footer li:nth-child(2) {
    margin: 0 10% 0 auto;
  }
}
@media screen and (min-width: 1000px) {
  footer li:last-child {
    margin: 0 10% 0 0;
  }
}
footer a {
  display: block;
  color: #fff;
  font-size: 1.125rem;
  padding-bottom: 0.2em;
  text-decoration: none;
}
footer a:nth-child(5) {
  margin-top: 1em;
}
@media screen and (min-width: 1000px) {
  footer {
    margin-top: 10.5rem;
    padding: 8rem 6rem 8rem 6rem;
  }
}

/*# sourceMappingURL=style.css.map */
