extends template/main.pug

block headStuff
    meta(name='descripton', content='Retro biografen ligger i Västerås och visar filmer från förr')
    meta(name='keywords', content='Biograf, retro, 50-tal, 70-tal, 80-tal, 90-tal, 00-tal, Västerås')
    meta(name='robots', content='index, follow')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    title Retro - biografen som visar filmer från förr -

block content
    // Karusell topcontent
    section(class='newest')
        div(class='carousel')
            div(class='slides')
                - for (var x = 0; x < 3; x++)
                  div(class='slide')
            button(class='carousel-button prev', data-carousel-button='prev') &#8656;
            button(class='carousel-button next', data-carousel-button='next') &#8658;

    // Filmer som visas nu
    section(class='ongoingMoviesSection', id='ongoingMoviesSection')
        h2(class='ongoingMoviesSection__header') Filmer som visas nu
        div(class='ongoingMovies')

    // Karusell bottomcontent
    section(class='carusell2')

    // Kommande filmer
    section(class='upcomingMoviesSection')
        h2(class='upcomingMoviesSection__header')
        div(class='upcomingMovies')

    // Biogåvan
    section(class='gift-section')
        h2(class='gift-section__header') BIOGÅVA
        div(class='gift-section__img-container')
            img(class='gift-section__gift-image', src='/static/images/popcorn.png')
            p(class='gift-section__gift-text') Ge bort en bioupplevelse till någon du bryr dig om!
        button(class='gift-section__gift-button') Köp en gåva