extends template/main.pug

block headStuff
    title Filmer

block content
    h1 Welcome to the internet!
    ul
        each movie in movies
          li
            a(href='/movies/' + movie.id) #{movie.title}
            