.modalBlur {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 45rem;
    height: 45rem;
    border: 3px solid #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.modalContainer .modalTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.modalContainer .modalBody {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modalContainer .modalBody p {
    margin-top: 2rem;
}

.modalContainer .modalBody select {
    height: 3.5rem;
    margin: 1rem;
    border: 1px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    color: #fff;
    font-size: 2rem;
}

.modalContainer .modalFooter {
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalContainer .modalFooter h2 {
    margin-top: 5rem;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.modalContainer .modalFooter form {
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalContainer .modalFooter input {
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    font-size: 2rem;
}

.modalContainer .modalFooter button {
    width: 10rem;
    height: fit-content;
    margin: 1rem;
    margin-top: 5rem;
    border: none;
    background-color: #65e48f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.modalContainer p, .modalContainer h1 {
    color: #fff;
}