doctype html
html(lang='sv')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/static/style.css')
        link(rel='shortcut icon', href='#')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        //- The blocks are using standard values for the index page
        block headStuff
        block scripts 
            script(type='module', src='/static/js/main.js' defer)
    body
        // Header
        header(class='header')
            div(class='header__container')
        block content