doctype html
html(lang='sv')
    head
        title= 'Retro - biografen som visar filmer från förr -'
        meta(name='descripton', content='Retro biografen ligger i Västerås och visar filmer från förr')
        meta(name='keywords', content='Biograf, retro, 50-tal, 70-tal, 80-tal, 90-tal, 00-tal, Västerås')
        meta(name='robots', content='index, follow')
        meta(charset='UTF-8')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/static/style.css')
        link(rel='shortcut icon', href='#')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        script(type='module', src='/static/js/main.js' defer)
    body
        header(class='header')
            div(class='header__container')