@use "lib" as *;

.header__hamburger_menu
{
    span
    {
        background-color: #fff;
        border-radius: 25px;
        height: 6px;
        position: absolute;
        width: 53px;                
        
        top: 6%;
        right: 5%;
    }

    span:nth-child(1)
    {
        top: 4%;
    }

    span:nth-child(3)
    {
        top: 8%;
    }

    @include breakpoint($desktop)
    {
        display: none;
    }
}

.header__hamburger_menu.active
{
    span:nth-child(1)
    {
        top: 6%;
        transform: rotate(45deg);
    }

    span:nth-child(2)
    {
        opacity: 0; 
    }

    span:nth-child(3)
    {
        top: 6%;
        transform: rotate(-45deg);
    }
}

header
{
    nav
    {
        display: flex;
        background-color: $dark-blue;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        position: fixed;
        width: 100%;

        right: -550px;
        top: 0;

        ul
        {
            li
            {
                @include roboto-bold;
                font-size: 2.25rem;
                list-style: none;
                
                a
                {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    nav.active
    {
        left: 0;
        right: 0;
    }
}