/* Variables */
$box-shadow-color: #B6BDB5;
$dark-blue: #011827;
$light-blue: #8ACFE5;
$shaded-blue: #36769D;
$red: #E3170A;

$button-padding: 1em 2.2em;

$desktop: 1280px;

/* Mixins */
@mixin button-layout
{
    @include roboto-bold;

    border: none;
    border-radius: 4px;

    padding: $button-padding;
}

@mixin breakpoint($min-size)
{
    @media screen and (min-width: $min-size) { @content; }
}

@mixin roboto-bold
{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin roboto-italic
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin roboto-regular
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}