/* Variables */
$dark-blue: #011827;
$shaded-blue: #36769D;
$light-blue: #8ACFE5;
$challenge-button-padding: 1.3rem 3rem;

/* Mixins */
@mixin roboto-regular
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin roboto-bold
{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin roboto-italic
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}