@use "lib" as *;

html
{
    font-size: 16px;
}

body
{
    @include roboto-regular;
    margin: 0;
    padding: 0;
}

header
{
    background-color: $dark-blue;
    color: #fff;
    padding: 1.5em 1.5em 2.2em 1.5em;

    img
    {
        float: left;
        padding-right: 0.75rem;
        width: 9em;
    }
    
    h2
    {
        @include roboto-bold;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
    }
    
}


.main__first__img
{
    width: 100%;
}

.main__lightblue__button
{
    @include button-layout;
    background-color: $light-blue;
    color: $dark-blue;
    display: flex;
    font-size: 1.5rem;
}

/* This is a <p>-element */
.main__challenge__link
{
    @include roboto-bold;
    margin: 0;
    text-align: center;

    a
    {
        color: $shaded-blue;
    }
}


.main__second__section
{
    display: flex;
    margin: 4rem 3rem 0 0;

    img
    {
        height: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    p
    {
        @include roboto-italic;
        font-size: 1.5rem;
        margin: 0;

        small
        {
            @include roboto-regular;
            font-size: 1.125rem;
        }
    }
}

.main__third__section
{
    h2
    {
        @include roboto-regular;
        font-size: 2rem;
        margin: 4em 0 0 0;
        text-align: center;
    }

    nav
    {
        /* This makes the navbar scrollable 
         * and display: inline-block in the child element
         * makes the element horizontal
         */
        overflow: auto;
        white-space: nowrap;

        .third__section__card
        {
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            display: inline-block;
            margin: 3rem -1.4rem 1.2rem 3.2rem;
            width: 23rem;

            .card__hacker__img
            {
                border-radius: 10px 10px 0 0;
                width: 100%;
            }

            h2
            {
                font-size: 1.75rem;
                margin: 1rem auto 0 1rem;
                text-align: start;
            }

            .card__review
            {
                margin: 0 1rem;
                width: 36%;
            }

            span
            {
                font-size: 0.875rem;
            }

            p
            {
                font-size: 1.125rem;
                margin: 1rem;
                white-space: normal;
            }

            button
            {
                @include button-layout;
                background-color: $red;
                color: #fff;
                margin: 0 0 1em 14em;
            }
        }

        .third__section__card:last-child
        {
            margin-right: 3rem;
        }
    }
}

article
{
    background-color: $dark-blue;
    margin-top: 4rem;
    padding: 1.5rem 1.5rem 5.5rem 1.5rem;

    p
    {
        color: #fff;
        font-size: 1.75rem;
        margin-top: 5rem;
        text-align: center;
    }

    button
    {
        @include button-layout;
        background-color: $dark-blue;
        border: 2px solid $light-blue;
        color: $light-blue;
        display: flex;
        font-size: 1.5rem;
        margin: 3rem auto 0 auto;
    }
}