@use "lib" as *;

html
{
    font-size: 16px;
}

body
{
    @include roboto-regular;
    margin: 0;
    padding: 0;
}

.header
{
    background-color: $dark-blue;
    color: #fff;
    padding: 1.5em 1.5em 2.2em 1.5em;

    img
    {
        float: left;
        padding-right: 0.75rem;
        width: 9em;
    }
    
    h2
    {
        @include roboto-bold;
        line-height: 2rem;
        margin: 0;
    }
    
}

.main__first__section
{
    img
    {
        width: 100%;
    }

    button
    {
        @include on-site-challenge-button;
    }

    p
    {
        @include roboto-bold;
        margin: 0;
        text-align: center;

        a
        {
            color: $shaded-blue;
        }
    }
}

.main__second__section
{
    display: flex;
    margin: 4rem 3rem 0 0;

    img
    {
        height: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    p
    {
        @include roboto-italic;
        font-size: 1.5rem;
        margin: 0;

        small
        {
            @include roboto-regular;
            font-size: 1.125rem;
        }
    }
}

.main__third__section
{
    h2
    {
        @include roboto-regular;
        font-size: 2rem;
        margin-top: 4em;
        text-align: center;
    }

    .card
    {
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        margin: 2rem auto 2rem auto;
        width: 20rem;

        img
        {
            border-radius: 10px 10px 0 0;
            width: 100%;
        }

        h2
        {
            margin: 1rem;
        }
    }
}