@use "lib" as *;

html
{
    font-size: 16px;
}

body
{
    @include roboto-regular();
    margin: 0;
    padding: 0;
}

.header
{
    background-color: $dark-background;
    color: #fff;
    padding: 1.5em 1.5em 2.2em 1.5em;

    img
    {
        float: left;
        padding-right: 0.75rem;
        width: 9em;
    }
    
    h2
    {
        @include roboto-bold();
        line-height: 2rem;
        margin: 0;
    }
    
}

.main
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    img
    {
        @include grid-span-whole();
        width: 100%;
    }

    .main__challengeBtn
    {
        @include grid-button-center();

        background-color: #8ACFE5;
        border-radius: 5px;

        font-size: 1.5rem;

        margin-top: 2rem;
        padding: 1rem;
    }
}